.THIS {
}


.THIS .tableArrows
{
	fill:#3333ff;
	float:right;
}

.THIS .contactsTable
{
	margin-left: 3%;
}

.THIS .contactsSearchBox
{

}

.THIS .spinnerOverlay
{
	position:absolute;
	width:100%;
	left:0px;
	height:100%;
	top:0px;
	background-color:#cccccc;
	opacity: 0.4;
}

.THIS .spinnerGraphic
{
	position:absolute;
	top:60%;
	width:100%;
}


/* ----------------------- Media Query for Small Devices ------------------- */
@media screen and (max-width: 400px), only screen and (max-device-width: 400px) 
{ 
    .THIS {
        padding: 0;
        font-size:12px;
        /* font-family: Helvetica, Arial, sans-serif; */
    }

	.THIS .contactsTable
	{
		margin-left: 3%;
	}

	.THIS .contactsSearchBox
	{

	}

}